# HTTP
PORT=8080
APP_ENV=dev
LOG_LEVEL=info

# DB
POSTGRES_USER=mys3
POSTGRES_PASSWORD=mys3
POSTGRES_DB=mys3
DATABASE_URL=postgres://mys3:mys3@localhost:5432/mys3?sslmode=disable

# S3
S3_ACCESS_KEY=rustfsadmin
S3_SECRET_KEY=rustfsadmin
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=mys3
S3_USE_PATH_STYLE=true
S3_MODE=full
# Режим хранилища: full - все операции, readonly - чтение

# JWT
JWT_SECRET=1432a232a98331265e1844390062f07cfa5a12ef6599d8657c311935d34bdef0
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=720h

CORS_ALLOWED_ORIGINS=*
MAX_UPLOAD_SIZE=104857600